/*********************************************************************************

                        Responsive Desktop Styles

*********************************************************************************/
@media screen and (max-width: 1680px) and (max-height: 950px)  {

    .wrapper {
        width: 450px;
    }

    .feedback_message {
        font-size: 2.4em;
    }

    .feedback_button {
        font-size: 1.5em;
        width: 180px;
        height: 55px;
    }

    .grid {
        height: 450px;
        width: 450px;
    }

    .square {
        font-size: 7.5em;
        height: 150px;
        width: 150px;
    }

    .stats {
        padding: 0 0.9em;
    }

    .player__name {
        font-size: 2em;
    }

    .player__score {
        font-size: 2.5em;
    }

}

@media screen and (max-width: 1680px) and (max-height: 880px)  {


    .wrapper {
        margin-top: 3.6em;
    }

    .feedback_button {
        font-size: 1.45em;
        width: 175px;
        height: 52px;
    }

    .grid {
        height: 425px;
        width: 425px;
    }

    .square {
        font-size: 7.1em;
        height: 141px;
        width: 141px;
    }

}

@media screen and (max-width: 1680px) and (max-height: 800px) {

    .wrapper {
        margin-top: 3em;
        width: 425px;
    }

    .feedback_button {
        font-size: 1.35em;
        width: 165px;
        height: 48px;
    }

    .grid {
        height: 400px;
        width: 400px;
    }

    .square {
        font-size: 6.7em;
        height: 133px;
        width: 133px;
    }

    .player__name {
        font-size: 1.8em;
    }

    .player__score {
        font-size: 2.3em;
    }
}

@media screen and (max-width: 1680px) and (max-height: 700px) {

    .wrapper {width: 400px;}

    .feedback_button {
        font-size: 1.25em;
        width: 150px;
        height: 46px;
    }

    .grid {
        height: 325px;
        width: 325px;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }

    .square {
        font-size: 5.4em;
        height: 108px;
        width: 108px;
    }

    .player__name {
        font-size: 1.7em;
    }

    .player__score {
        font-size: 2.2em;
    }
}



/*********************************************************************************

                    Responsive Tablet and Mobile Styles

 *********************************************************************************/

/* Small tablets portrait */
@media screen and (max-width: 600px) and (max-height: 860px) and (orientation: portrait) {

    .wrapper {margin-top: 4em;width: 425px;}

    .feedback_message {font-size: 2em;}

    .feedback_button {font-size: 1.4em;width: 155px;height: 52px;}

    .grid {
        height: 350px;
        width: 350px;
        margin-top: 0;
        margin-bottom: 2em;
    }

    .square {font-size: 5.8em;height: 116px;width: 116px;}

    .square[data-y="0"], .square[data-y="1"],
    .square[data-x="0"], .square[data-x="1"] {
        border-width: 3px;
    }

    .stats {padding: 0 2em;}

    .player__name {font-size: 1.6em;}

    .player__score {font-size: 2em;}
}

/* Small tablets landscape */
@media screen and (max-width: 1000px) and (max-height: 620px) and (orientation: landscape) {

    .wrapper {margin-top: 4em;width: 75vw;}

    .feedback_message {font-size: 2.2em;}

    .feedback_buttons-box {width: 100%;}

    .feedback_button {font-size: 1.3em;width: 165px;height: 48px;}

    .grid {
        float: right;
        height: 310px;
        width: 310px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .square {font-size: 5.2em;height: 103px;width: 103px;}

    .stats {
        float: left;
        flex-direction: column;
        justify-content: space-between;
        height: 12.6em;
        margin-top: 3em;
        margin-left: -1em;
        padding: 0;
    }

    .player {
        display: flex;
        justify-content: space-between;
        text-align: left;
        width: 170px;
    }

    .player__name {font-size: 1.6em;margin: 0;}

    .player__score {font-size: 1.6em;margin: 0;}
}

/* Long and thin mobile screens portrait */
@media screen and (max-width: 415px) and (max-height: 900px) and (orientation: portrait) {

    .wrapper {margin-bottom: 0;width: 375px;}

    .grid {height: 330px;width: 330px;}

    .square {font-size: 5.5em;height: 110px;width: 110px;}

    .stats {flex-direction: column;padding: 20px 85px 0;}

    .player {
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
        border-bottom: 1px solid #FFF;
    }

    .player:first-child {padding-top: 0;}

    .player__name {margin: 0;font-size: 2em;}

    .player__score {margin: 0;font-size: 2em;font-weight: bold;}
}


/* Long and thin mobile screens landscape */
@media screen and (max-width: 900px) and (max-height: 420px) and (orientation: landscape) {

    .wrapper {margin-top: 2.6em;width: 85vw;}

    .feedback_message {font-size: 2.2em;text-align: left;}

    .feedback_buttons-box {justify-content: flex-start;width: 100%;}

    .feedback_button {font-size: 1.2em;width: 150px;height: 43px;}

    .feedback_button:first-child {margin-right: 2em;}

    .grid {
        float: right;
        height: 270px;
        width: 270px;
        margin-top: -5em;
        margin-bottom: 0;
    }

    .square {font-size: 4.5em;height: 90px;width: 90px;}

    .square[data-y="0"], .square[data-y="1"],
    .square[data-x="0"], .square[data-x="1"] {
        border-width: 3px;
    }

    .stats {
        float: left;
        flex-direction: column;
        justify-content: space-between;
        height: 10em;
        margin-top: 0;
        margin-left: 0;
        padding: 0;
    }

    .player {display: flex;justify-content: space-between;text-align: left;width: 170px;}

    .player__name {font-size: 1.6em;margin: 0;}

    .player__score {font-size: 1.6em;margin: 0;}
}

/* Large mobile screens portrait */
@media screen and (max-width: 415px) and (max-height: 760px) and (orientation: portrait) {

    .feedback_message {font-size: 2em;}

    .grid {height: 325px; width: 325px;}

    .square {font-size: 5.4em;height: 108px;width: 108px;}

    .stats {flex-direction: row;flex-wrap: wrap;padding: 20px 30px 0;}

    #playerX {width: 42%;padding-top: 0;order: 0;}

    #playerO {width: 42%;padding-top: 0;order: 1;}

    #tie {width: 100%;order: 2;padding-top: 50px;}

    .player__name {font-size: 1.6em;}

    .player__score {font-size: 1.6em;}
}

/* Large mobile screens landscape */
@media screen and (max-width: 760px) and (max-height: 460px) and (orientation: landscape) {

    .wrapper {margin-top: 3.6em; width: 85vw;}

    .feedback_message {font-size: 2.0em; text-align: left;}

    .feedback_buttons-box {justify-content: flex-start;}

    .feedback_button {font-size: 1.2em; width: 140px; height: 40px;}

    .feedback_button:first-child {margin-right: 2em;}

    .grid {height: 280px; width: 280px; margin-top: -4.2em;}

    .square {font-size: 4.7em; height: 93px; width: 93px;}

    .stats {height: 10em; margin-top: 0; margin-left: 0;}

    .player {width: 190px;}

    .player__name {font-size: 1.8em;}

    .player__score {font-size: 1.8em;}
}

/* Medium and Small mobile screens portrait */
@media screen and (max-width: 390px) and (max-height: 700px) and (orientation: portrait) {

    .wrapper {margin-top: 3em;}

    .feedback_message {font-size: 1.8em;}

    .feedback_button {font-size: 1.3em;width: 145px;height: 50px;}

    .grid {height: 300px; width: 300px;}

    .square {font-size: 5em;height: 100px;width: 100px;}

    .stats {padding: 20px 45px 0;}

    .player {
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
        border-bottom: 1px solid #FFF;
    }

    #tie {padding-top: 40px;}

    .player__name {font-size: 1.5em;}

    .player__score {font-size: 1.5em;}
}


/* Medium and small mobile screens landscape */
@media screen and (max-width: 700px) and (max-height: 380px) and (orientation: landscape) {

    .feedback_message {font-size: 1.8em;}

    .feedback_button {font-size: 1.1em;width: 130px;height: 38px;}

    .grid {height: 225px;width: 225px;margin-top: -5em;}

    .square {font-size: 3.75em;height: 75px;width: 75px;}

    .stats {height: 9.6em;margin-top: -1.4em;}

    .player__name {font-size: 1.7em;}

    .player__score {font-size: 1.7em;}
}

/* Very small mobile screens landscape */
@media screen and (max-width: 600px) and (max-height: 340px) and (orientation: landscape) {

    .feedback_message {font-size: 1.6em;}

    .feedback_button {font-size: 1em;width: 115px;height: 36px;}

    .feedback_button:first-child {margin-right: 1.2em;}

    .grid {height: 200px;width: 200px;margin-top: -4em;}

    .square {font-size: 3.3em;height: 66px;width: 66px;}

    .stats {height: 8em;margin-top: -1.8em;}

    .player {width: 170px;}

    .player__name {font-size: 1.5em;}

    .player__score {font-size: 1.5em;}
}