@font-face {
    font-family: "Vessel Sketch";
    src: url("fonts/KGBrokenVesselsSketch.ttf");
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #000;
    overflow-y: hidden;
}

.wrapper {
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -300px;
}

.feedback {
    height: 100px;
    text-align: center;
}

.feedback__message {
    margin: 0;
    font-size: 2.6em;
}

.grid {
    display: grid;
    margin: 2em auto 2em;
    height: 600px;
    width: 600px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
    text-align: center;
    background: #fff;
}

.square {
    height: 100%;
    background: #000;
    cursor: pointer;
    font-size: 10em;
    font-family: "Vessel Sketch", cursive, serif;
}

/* red for O */
.red-marker {
    color: #ff8987;
}

/* blue for X */
.blue-marker {
    color: #b2dcff;
}
